/* ********* elements ********  */

body{
    margin: 0;
}

main{
    height: 800px;
    background-color: #3B3D3F;
}

header{
    display:flex;
    justify-content: space-evenly;
    padding-top:53px
}

header img{
    height: 15px;
}

nav{
    width: 32.5%;
    display: flex;
    justify-content: space-between;
}

a{
    color: #ffffff;
    text-decoration: none;
    margin-right: 1rem;
}


/* ********* .Class ********* */
.socialMedia{
    display: flex;
    justify-content: space-between;
}

.menu{
    display: none;
}

@media(max-width: 800px){
    header{
        justify-content: space-between;
        padding:25px 5px 0 5px;
    }
}

@media(max-width: 675px){
    .menu{
        display: block;
    }
    
    nav, .socialMedia{
        display: none;
    };
}