/* ********* elements ********  */

body{
    margin: 0;
}
main{
    background-color: #3B3D3F;
}

header{
    display:flex;
    justify-content: space-evenly;
    padding-top:53px;
    background-color: #3B3D3F;
    font-size: 1rem;
}

header img{
    height: 15px;
}

nav{
    width: 32.5%;
    display: flex;
    justify-content: space-between;
}

nav a:hover{
    text-decoration: underline;
}

a{
    color: #ffffff;
    text-decoration: none;
    margin-right: 1rem;
}

p, a{
    font-family: 'Roboto', sans-serif;
}

h1{
    font-family: 'Roboto', sans-serif;
}




/* ********* .Class ********* */
.socialMedia{
    display: flex;
    justify-content: space-between;
}

.headline{
    color: white;
    max-width: 470.9px;
    margin: 0 auto;
    text-align: center;
}

.menu{
    display: none;
}

.container{
    display: flex;
    align-items: center;
    height: 80vh;
}

.logo{
    height: 63px;
}

.section2{
    background-color: #F9F9F9;
}

.section2 h1, p{
    text-align: center;
}

.blueButton{
    margin: 0 auto;
    width: fit-content;
}

.blueButton a{
    background-color: #2D71F1;
    padding: 17.2px 42.35px;
    border-radius: 53px;
    text-align: center;
}

.paragraphs{
    display: flex;
    justify-content: space-evenly;
}

.description{
    max-width: 34%;
}




/* ****** < 800px screan ****** */

@media(max-width: 800px){
    header{
        justify-content: space-between;
        padding:25px 5px 0 5px;
    }
}



/* ******* < 675px ********* */
@media(max-width: 675px){
    .menu{
        display: block;
    }
    
    nav, .socialMedia{
        display: none;
    }

    .paragraphs{
        flex-wrap: wrap;
    }

    .description{
        min-width: 90%;
    }

}